.banner {
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(to top, rgb(2, 5, 48), $darkblue),
    url("../assets/Untitled.png") no-repeat,
    url("../assets/sandpaper.png") repeat;
  background-position: left;
  background-size: contain;
  background-blend-mode: multiply;
}

#carrossel {
  display: flex;

  .item {
    transition: all 1s;
    transform: translateX(30px);
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all .4s;

    img{
      opacity: 0;
      transition-delay: .6s;
      transition: all .6s;
      transform: translateY(-40px);
    }
    
    &.active {
      transition-delay: .4s;
      opacity: 1;
      visibility: visible;
      height: inherit;
      transform: translateX(0);

      img{
        opacity: 1;
        transform: translateY(0);
      }
    }

    .text {
      margin-top: -120px;
      padding: 100px 15px 15px 15px;
      border: 3px solid $red;
    }
  }
}

@media (max-width: 800px) {
  .banner {
    position: relative;
    background: url("../assets/ronilson-bg.png") no-repeat;
    background-size: cover;
    background-position: center 80px;
    z-index: -2;

    h1 {
      font-size: 25px;
      margin-top: 25px;
    }
    .paragraph{
      margin-top: 55vh;
      z-index: 1000;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $darkblue 15%, transparent);
      z-index: -1;
    }
  }

  #carrossel {
    .item {
      .text {
        margin-top: -80px;
        padding: 60px 15px 15px 15px;
      }
    }
  }

  #form {
    .text-xs-darkblue {
      color: $darkblue;
    }

    .text-xs-red {
      color: $red;
    }
  }
}

#form-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  background-image: url("../assets/Ronilson.jpg");
  background-size: cover;
  min-height: 100%;
  background-blend-mode: multiply;

  .btn-ebook{
    width: 97% !important;
  }
  h1{
    font-size: 45px;
  }

}

@media (min-width: 997px){
  #form-area{
    background-image: none;
    background-color: rgba($color: #000000, $alpha: 0);
    color: $blue !important;

    .text-md-blue{
      color: $blue !important; 
    }

    .btn-ebook{
      width: 50% !important;
    }
    h1{
      font-size: 60px;
    }
  }
  
}

@media (max-width: 370px) {
  .banner{
    position: relative;
    background: url("../assets/ronilson-bg.png") no-repeat;
    background-size: cover;
    background-position: center 100px;
    z-index: -2;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $darkblue 16%, transparent);
      z-index: -1;
    } 
    .paragraph{
      margin-top: 40vh;
    }
  }
}